# Maven
target/
.flattened-pom.xml
!.mvn/wrapper/maven-wrapper.jar

# jtest dependency:copy-dependencies
**/libs/

# 日志
*.log

# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.history/

# OS
.DS_Store
