target/
!.mvn/wrapper/maven-wrapper.jar

application.log

backup/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/

## vscode plugin
.history
.vscode

## macos
.DS_Store


.flattened-pom.xml